@import './styles/variables.css';
@import './styles/global.css';
@import 'leaflet/dist/leaflet.css';

/* Custom Leaflet overrides if needed */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}